body {
    font-family: 'Press Start 2P', cursive;
}

.global-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 840px;
    height: 290px;
}

.keyboard__content {
    width: 800px;
    height: 100px;
    padding: 20px;
    margin-bottom: 20px;
    resize: none;
    border: none;
    box-shadow: 0 0 0 1px #dddddd;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
}

.keyboard__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.keyboard__btn--basic {
    width: 50px;
    margin-bottom: 5px;
}

.keyboard__btn--middle {
    width: 100px;
}

.keyboard__btn--long {
    width: 150px;
}

.keyboard__btn--basic--space {
    width: 310px;
}