.container {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.keyboard__area {
    width: 95%;
    height: 150px;
    margin-bottom: 25px;
    padding: 20px;
    border: none;
    box-shadow: 0 0 0 1px #dddddd;
    background-color: #fafafa;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
    outline: none;
}

.active {
    background: orange;
}

.hide {
    display: none;
}

.key {
    margin: 5px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    border: 1px solid transparent;
    width: 45px;
    height: 45px;
    text-align: center;
    transition: all 0.1s ease;
}

.key--backspace {
    width: 100px;
}

.key--tab {
    width: 60px;
}

.key--capslock,
.key--enter {
    width: 100px;
}

.key--shift {
    width: 100px;
}

.key--space {
    width: 46%;
}

.key--press {
    transform: scale(0.85);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #666666;
    background-color: #eeeeee;
}

